In [1]:
import pandas as pd
pd.options.mode.copy_on_write = True

In [2]:
auditing_standards = pd.read_csv("Raw_data/Context/auditing_standards_2007_2017.csv")

In [3]:
government_transperancy = pd.read_csv("Raw_data/Context/Government_transperancy_2007_2017.csv")

In [4]:
bribes = pd.read_csv("Raw_data/Context/bribes_2010_2017.csv")

In [5]:
public_trust = pd.read_csv("Raw_data/Context/Public_trust_2007_2017.csv")

In [6]:
education_quality = pd.read_csv("Raw_data/Context/Education_quality_2007_2017.csv")

In [7]:
latest_technology = pd.read_csv("Raw_data/Context/Availability_of_technology_2007_2017.csv")

In [8]:
firm_technology_absorption = pd.read_csv("Raw_data/Context/Firm_technology_absorption_2007_2017.csv")

In [9]:
ethical_behavior = pd.read_csv("Raw_data/Context/Ethical_behavior_2007-2017.csv")

In [10]:
wage_flexibility = pd.read_csv("Raw_data/Context/Wage_flexibility_2007_2017.csv")

In [11]:
school_quality = pd.read_csv("Raw_data/Context/Quality_management_schools_2007_2017.csv")

In [12]:
cooperation_labor = pd.read_csv("Raw_data/Context/Cooperation_labor_2007_2017.csv")

In [13]:
delegate_authority = pd.read_csv("Raw_data/Context/authority_delegation_2007_2017.csv")

In [14]:
democracy_index = pd.read_csv("Raw_data/Context/EIU_DI_INDEX.csv")

In [15]:
def clean_world_bank_data(df, name):
    df_1 = df[['REF_AREA_LABEL', 'UNIT_MEASURE', 'TIME_PERIOD', 'OBS_VALUE']]
    df_2 = df_1.loc[df_1['REF_AREA_LABEL'].isin(["Lithuania", "Latvia", "Estonia", "Denmark", "Sweden", "Finland", "Germany", "Poland"])]
    df_3 = df_2.loc[df_2['UNIT_MEASURE'].isin(["1_TO_7", "0_TO_10"])]
    df_4 = df_3.drop(["UNIT_MEASURE"], axis=1)
    df_5 = df_4.rename(columns = {'OBS_VALUE': name}) 
    return df_5

In [16]:
def return_spefifc_country(df, name):
    df_1 = df.loc[df['REF_AREA_LABEL'].isin([name])]
    return df_1

In [17]:
df_SOARS = clean_world_bank_data(auditing_standards, "SOARS")

In [18]:
df_dk = return_spefifc_country(df_SOARS, "Denmark")
df_de = return_spefifc_country(df_SOARS, "Germany")
df_pl = return_spefifc_country(df_SOARS, "Poland")
df_lt = return_spefifc_country(df_SOARS, "Lithuania")
df_lv = return_spefifc_country(df_SOARS, "Latvia")
df_es = return_spefifc_country(df_SOARS, "Estonia")
df_fi = return_spefifc_country(df_SOARS, "Finland")
df_sv = return_spefifc_country(df_SOARS, "Sweden")

In [19]:
df_dk = df_dk.set_index("TIME_PERIOD")
df_de = df_de.set_index("TIME_PERIOD")
df_pl = df_pl.set_index("TIME_PERIOD")
df_lt = df_lt.set_index("TIME_PERIOD")
df_lv = df_lv.set_index("TIME_PERIOD")
df_es = df_es.set_index("TIME_PERIOD")
df_fi = df_fi.set_index("TIME_PERIOD")
df_sv = df_sv.set_index("TIME_PERIOD")

In [20]:
df_TOGP = clean_world_bank_data(government_transperancy, "TOGP")

In [21]:
df_dk_1 = return_spefifc_country(df_TOGP, "Denmark")
df_de_1 = return_spefifc_country(df_TOGP, "Germany")
df_pl_1 = return_spefifc_country(df_TOGP, "Poland")
df_lt_1 = return_spefifc_country(df_TOGP, "Lithuania")
df_lv_1 = return_spefifc_country(df_TOGP, "Latvia")
df_es_1 = return_spefifc_country(df_TOGP, "Estonia")
df_fi_1 = return_spefifc_country(df_TOGP, "Finland")
df_sv_1 = return_spefifc_country(df_TOGP, "Sweden")

In [22]:
df_dk_1 = df_dk_1.set_index("TIME_PERIOD")
df_de_1 = df_de_1.set_index("TIME_PERIOD")
df_pl_1 = df_pl_1.set_index("TIME_PERIOD")
df_lt_1 = df_lt_1.set_index("TIME_PERIOD")
df_lv_1 = df_lv_1.set_index("TIME_PERIOD")
df_es_1 = df_es_1.set_index("TIME_PERIOD")
df_fi_1 = df_fi_1.set_index("TIME_PERIOD")
df_sv_1 = df_sv_1.set_index("TIME_PERIOD")

In [23]:
df_dk["TOGP"]= df_dk_1['TOGP']
df_de["TOGP"]= df_de_1['TOGP']
df_pl["TOGP"]= df_pl_1['TOGP']
df_lt["TOGP"]= df_lt_1['TOGP']
df_lv["TOGP"]= df_lv_1['TOGP']
df_es["TOGP"]= df_es_1['TOGP']
df_fi["TOGP"]= df_fi_1['TOGP']
df_sv["TOGP"]= df_sv_1['TOGP']

In [24]:
df_IPAB = clean_world_bank_data(bribes, "IPAB")

In [25]:
df_dk_2 = return_spefifc_country(df_IPAB, "Denmark")
df_de_2 = return_spefifc_country(df_IPAB, "Germany")
df_pl_2 = return_spefifc_country(df_IPAB, "Poland")
df_lt_2 = return_spefifc_country(df_IPAB, "Lithuania")
df_lv_2 = return_spefifc_country(df_IPAB, "Latvia")
df_es_2 = return_spefifc_country(df_IPAB, "Estonia")
df_fi_2 = return_spefifc_country(df_IPAB, "Finland")
df_sv_2 = return_spefifc_country(df_IPAB, "Sweden")

In [26]:
df_dk_2 = df_dk_2.set_index("TIME_PERIOD")
df_de_2 = df_de_2.set_index("TIME_PERIOD")
df_pl_2 = df_pl_2.set_index("TIME_PERIOD")
df_lt_2 = df_lt_2.set_index("TIME_PERIOD")
df_lv_2 = df_lv_2.set_index("TIME_PERIOD")
df_es_2 = df_es_2.set_index("TIME_PERIOD")
df_fi_2 = df_fi_2.set_index("TIME_PERIOD")
df_sv_2 = df_sv_2.set_index("TIME_PERIOD")

In [27]:
df_dk["IPAB"]= df_dk_2['IPAB']
df_de["IPAB"]= df_de_2['IPAB']
df_pl["IPAB"]= df_pl_2['IPAB']
df_lt["IPAB"]= df_lt_2['IPAB']
df_lv["IPAB"]= df_lv_2['IPAB']
df_es["IPAB"]= df_es_2['IPAB']
df_fi["IPAB"]= df_fi_2['IPAB']
df_sv["IPAB"]= df_sv_2['IPAB']

In [28]:
df_PTIP = clean_world_bank_data(public_trust, "PTIP")

In [29]:
df_dk_3 = return_spefifc_country(df_PTIP, "Denmark")
df_de_3 = return_spefifc_country(df_PTIP, "Germany")
df_pl_3 = return_spefifc_country(df_PTIP, "Poland")
df_lt_3 = return_spefifc_country(df_PTIP, "Lithuania")
df_lv_3 = return_spefifc_country(df_PTIP, "Latvia")
df_es_3 = return_spefifc_country(df_PTIP, "Estonia")
df_fi_3 = return_spefifc_country(df_PTIP, "Finland")
df_sv_3 = return_spefifc_country(df_PTIP, "Sweden")

In [30]:
df_dk_3 = df_dk_3.set_index("TIME_PERIOD")
df_de_3 = df_de_3.set_index("TIME_PERIOD")
df_pl_3 = df_pl_3.set_index("TIME_PERIOD")
df_lt_3 = df_lt_3.set_index("TIME_PERIOD")
df_lv_3 = df_lv_3.set_index("TIME_PERIOD")
df_es_3 = df_es_3.set_index("TIME_PERIOD")
df_fi_3 = df_fi_3.set_index("TIME_PERIOD")
df_sv_3 = df_sv_3.set_index("TIME_PERIOD")

In [31]:
df_dk["PTIP"]= df_dk_3['PTIP']
df_de["PTIP"]= df_de_3['PTIP']
df_pl["PTIP"]= df_pl_3['PTIP']
df_lt["PTIP"]= df_lt_3['PTIP']
df_lv["PTIP"]= df_lv_3['PTIP']
df_es["PTIP"]= df_es_3['PTIP']
df_fi["PTIP"]= df_fi_3['PTIP']
df_sv["PTIP"]= df_sv_3['PTIP']

In [32]:
df_QOES = clean_world_bank_data(education_quality, "QOES")

In [33]:
df_dk_4 = return_spefifc_country(df_QOES, "Denmark")
df_de_4 = return_spefifc_country(df_QOES, "Germany")
df_pl_4 = return_spefifc_country(df_QOES, "Poland")
df_lt_4 = return_spefifc_country(df_QOES, "Lithuania")
df_lv_4 = return_spefifc_country(df_QOES, "Latvia")
df_es_4 = return_spefifc_country(df_QOES, "Estonia")
df_fi_4 = return_spefifc_country(df_QOES, "Finland")
df_sv_4 = return_spefifc_country(df_QOES, "Sweden")

In [34]:
df_dk_4 = df_dk_4.set_index("TIME_PERIOD")
df_de_4 = df_de_4.set_index("TIME_PERIOD")
df_pl_4 = df_pl_4.set_index("TIME_PERIOD")
df_lt_4 = df_lt_4.set_index("TIME_PERIOD")
df_lv_4 = df_lv_4.set_index("TIME_PERIOD")
df_es_4 = df_es_4.set_index("TIME_PERIOD")
df_fi_4 = df_fi_4.set_index("TIME_PERIOD")
df_sv_4 = df_sv_4.set_index("TIME_PERIOD")

In [35]:
df_dk["QOES"]= df_dk_4['QOES']
df_de["QOES"]= df_de_4['QOES']
df_pl["QOES"]= df_pl_4['QOES']
df_lt["QOES"]= df_lt_4['QOES']
df_lv["QOES"]= df_lv_4['QOES']
df_es["QOES"]= df_es_4['QOES']
df_fi["QOES"]= df_fi_4['QOES']
df_sv["QOES"]= df_sv_4['QOES']

In [36]:
df_AOLT = clean_world_bank_data(latest_technology, "AOLT")

In [37]:
df_dk_5 = return_spefifc_country(df_AOLT, "Denmark")
df_de_5 = return_spefifc_country(df_AOLT, "Germany")
df_pl_5 = return_spefifc_country(df_AOLT, "Poland")
df_lt_5 = return_spefifc_country(df_AOLT, "Lithuania")
df_lv_5 = return_spefifc_country(df_AOLT, "Latvia")
df_es_5 = return_spefifc_country(df_AOLT, "Estonia")
df_fi_5 = return_spefifc_country(df_AOLT, "Finland")
df_sv_5 = return_spefifc_country(df_AOLT, "Sweden")

In [38]:
df_dk_5 = df_dk_5.set_index("TIME_PERIOD")
df_de_5 = df_de_5.set_index("TIME_PERIOD")
df_pl_5 = df_pl_5.set_index("TIME_PERIOD")
df_lt_5 = df_lt_5.set_index("TIME_PERIOD")
df_lv_5 = df_lv_5.set_index("TIME_PERIOD")
df_es_5 = df_es_5.set_index("TIME_PERIOD")
df_fi_5 = df_fi_5.set_index("TIME_PERIOD")
df_sv_5 = df_sv_5.set_index("TIME_PERIOD")

In [39]:
df_dk["AOLT"]= df_dk_5['AOLT']
df_de["AOLT"]= df_de_5['AOLT']
df_pl["AOLT"]= df_pl_5['AOLT']
df_lt["AOLT"]= df_lt_5['AOLT']
df_lv["AOLT"]= df_lv_5['AOLT']
df_es["AOLT"]= df_es_5['AOLT']
df_fi["AOLT"]= df_fi_5['AOLT']
df_sv["AOLT"]= df_sv_5['AOLT']

In [40]:
df_FLTA = clean_world_bank_data(firm_technology_absorption, "FLTA")

In [41]:
df_dk_6 = return_spefifc_country(df_FLTA, "Denmark")
df_de_6 = return_spefifc_country(df_FLTA, "Germany")
df_pl_6 = return_spefifc_country(df_FLTA, "Poland")
df_lt_6 = return_spefifc_country(df_FLTA, "Lithuania")
df_lv_6 = return_spefifc_country(df_FLTA, "Latvia")
df_es_6 = return_spefifc_country(df_FLTA, "Estonia")
df_fi_6 = return_spefifc_country(df_FLTA, "Finland")
df_sv_6 = return_spefifc_country(df_FLTA, "Sweden")

In [42]:
df_dk_6 = df_dk_6.set_index("TIME_PERIOD")
df_de_6 = df_de_6.set_index("TIME_PERIOD")
df_pl_6 = df_pl_6.set_index("TIME_PERIOD")
df_lt_6 = df_lt_6.set_index("TIME_PERIOD")
df_lv_6 = df_lv_6.set_index("TIME_PERIOD")
df_es_6 = df_es_6.set_index("TIME_PERIOD")
df_fi_6 = df_fi_6.set_index("TIME_PERIOD")
df_sv_6 = df_sv_6.set_index("TIME_PERIOD")

In [43]:
df_dk["FLTA"]= df_dk_6['FLTA']
df_de["FLTA"]= df_de_6['FLTA']
df_pl["FLTA"]= df_pl_6['FLTA']
df_lt["FLTA"]= df_lt_6['FLTA']
df_lv["FLTA"]= df_lv_6['FLTA']
df_es["FLTA"]= df_es_6['FLTA']
df_fi["FLTA"]= df_fi_6['FLTA']
df_sv["FLTA"]= df_sv_6['FLTA']

In [44]:
df_EBOF = clean_world_bank_data(ethical_behavior, "EBOF")

In [45]:
df_dk_7 = return_spefifc_country(df_EBOF, "Denmark")
df_de_7 = return_spefifc_country(df_EBOF, "Germany")
df_pl_7 = return_spefifc_country(df_EBOF, "Poland")
df_lt_7 = return_spefifc_country(df_EBOF, "Lithuania")
df_lv_7 = return_spefifc_country(df_EBOF, "Latvia")
df_es_7 = return_spefifc_country(df_EBOF, "Estonia")
df_fi_7 = return_spefifc_country(df_EBOF, "Finland")
df_sv_7 = return_spefifc_country(df_EBOF, "Sweden")

In [46]:
df_dk_7 = df_dk_7.set_index("TIME_PERIOD")
df_de_7 = df_de_7.set_index("TIME_PERIOD")
df_pl_7 = df_pl_7.set_index("TIME_PERIOD")
df_lt_7 = df_lt_7.set_index("TIME_PERIOD")
df_lv_7 = df_lv_7.set_index("TIME_PERIOD")
df_es_7 = df_es_7.set_index("TIME_PERIOD")
df_fi_7 = df_fi_7.set_index("TIME_PERIOD")
df_sv_7 = df_sv_7.set_index("TIME_PERIOD")

In [47]:
df_dk["EBOF"]= df_dk_7['EBOF']
df_de["EBOF"]= df_de_7['EBOF']
df_pl["EBOF"]= df_pl_7['EBOF']
df_lt["EBOF"]= df_lt_7['EBOF']
df_lv["EBOF"]= df_lv_7['EBOF']
df_es["EBOF"]= df_es_7['EBOF']
df_fi["EBOF"]= df_fi_7['EBOF']
df_sv["EBOF"]= df_sv_7['EBOF']

In [48]:
df_FOWD = clean_world_bank_data(wage_flexibility, "FOWD")

In [49]:
df_dk_8 = return_spefifc_country(df_FOWD, "Denmark")
df_de_8 = return_spefifc_country(df_FOWD, "Germany")
df_pl_8 = return_spefifc_country(df_FOWD, "Poland")
df_lt_8 = return_spefifc_country(df_FOWD, "Lithuania")
df_lv_8 = return_spefifc_country(df_FOWD, "Latvia")
df_es_8 = return_spefifc_country(df_FOWD, "Estonia")
df_fi_8 = return_spefifc_country(df_FOWD, "Finland")
df_sv_8 = return_spefifc_country(df_FOWD, "Sweden")

In [50]:
df_dk_8 = df_dk_8.set_index("TIME_PERIOD")
df_de_8 = df_de_8.set_index("TIME_PERIOD")
df_pl_8 = df_pl_8.set_index("TIME_PERIOD")
df_lt_8 = df_lt_8.set_index("TIME_PERIOD")
df_lv_8 = df_lv_8.set_index("TIME_PERIOD")
df_es_8 = df_es_8.set_index("TIME_PERIOD")
df_fi_8 = df_fi_8.set_index("TIME_PERIOD")
df_sv_8 = df_sv_8.set_index("TIME_PERIOD")

In [51]:
df_dk["FOWD"]= df_dk_8['FOWD']
df_de["FOWD"]= df_de_8['FOWD']
df_pl["FOWD"]= df_pl_8['FOWD']
df_lt["FOWD"]= df_lt_8['FOWD']
df_lv["FOWD"]= df_lv_8['FOWD']
df_es["FOWD"]= df_es_8['FOWD']
df_fi["FOWD"]= df_fi_8['FOWD']
df_sv["FOWD"]= df_sv_8['FOWD']

In [52]:
df_QOMS = clean_world_bank_data(school_quality, "QOMS")

In [53]:
df_dk_9 = return_spefifc_country(df_QOMS, "Denmark")
df_de_9 = return_spefifc_country(df_QOMS, "Germany")
df_pl_9 = return_spefifc_country(df_QOMS, "Poland")
df_lt_9 = return_spefifc_country(df_QOMS, "Lithuania")
df_lv_9 = return_spefifc_country(df_QOMS, "Latvia")
df_es_9 = return_spefifc_country(df_QOMS, "Estonia")
df_fi_9 = return_spefifc_country(df_QOMS, "Finland")
df_sv_9 = return_spefifc_country(df_QOMS, "Sweden")

In [54]:
df_dk_9 = df_dk_9.set_index("TIME_PERIOD")
df_de_9 = df_de_9.set_index("TIME_PERIOD")
df_pl_9 = df_pl_9.set_index("TIME_PERIOD")
df_lt_9 = df_lt_9.set_index("TIME_PERIOD")
df_lv_9 = df_lv_9.set_index("TIME_PERIOD")
df_es_9 = df_es_9.set_index("TIME_PERIOD")
df_fi_9 = df_fi_9.set_index("TIME_PERIOD")
df_sv_9 = df_sv_9.set_index("TIME_PERIOD")

In [55]:
df_dk["QOMS"]= df_dk_9['QOMS']
df_de["QOMS"]= df_de_9['QOMS']
df_pl["QOMS"]= df_pl_9['QOMS']
df_lt["QOMS"]= df_lt_9['QOMS']
df_lv["QOMS"]= df_lv_9['QOMS']
df_es["QOMS"]= df_es_9['QOMS']
df_fi["QOMS"]= df_fi_9['QOMS']
df_sv["QOMS"]= df_sv_9['QOMS']

In [56]:
df_CLER = clean_world_bank_data(cooperation_labor, "CLER")

In [57]:
df_dk_10 = return_spefifc_country(df_CLER, "Denmark")
df_de_10 = return_spefifc_country(df_CLER, "Germany")
df_pl_10 = return_spefifc_country(df_CLER, "Poland")
df_lt_10 = return_spefifc_country(df_CLER, "Lithuania")
df_lv_10 = return_spefifc_country(df_CLER, "Latvia")
df_es_10 = return_spefifc_country(df_CLER, "Estonia")
df_fi_10 = return_spefifc_country(df_CLER, "Finland")
df_sv_10 = return_spefifc_country(df_CLER, "Sweden")

In [58]:
df_dk_10 = df_dk_10.set_index("TIME_PERIOD")
df_de_10 = df_de_10.set_index("TIME_PERIOD")
df_pl_10 = df_pl_10.set_index("TIME_PERIOD")
df_lt_10 = df_lt_10.set_index("TIME_PERIOD")
df_lv_10 = df_lv_10.set_index("TIME_PERIOD")
df_es_10 = df_es_10.set_index("TIME_PERIOD")
df_fi_10 = df_fi_10.set_index("TIME_PERIOD")
df_sv_10 = df_sv_10.set_index("TIME_PERIOD")

In [59]:
df_dk["CLER"]= df_dk_10['CLER']
df_de["CLER"]= df_de_10['CLER']
df_pl["CLER"]= df_pl_10['CLER']
df_lt["CLER"]= df_lt_10['CLER']
df_lv["CLER"]= df_lv_10['CLER']
df_es["CLER"]= df_es_10['CLER']
df_fi["CLER"]= df_fi_10['CLER']
df_sv["CLER"]= df_sv_10['CLER']

In [60]:
df_WTDA = clean_world_bank_data(delegate_authority, "WTDA")

In [61]:
df_dk_11 = return_spefifc_country(df_WTDA, "Denmark")
df_de_11 = return_spefifc_country(df_WTDA, "Germany")
df_pl_11 = return_spefifc_country(df_WTDA, "Poland")
df_lt_11 = return_spefifc_country(df_WTDA, "Lithuania")
df_lv_11 = return_spefifc_country(df_WTDA, "Latvia")
df_es_11 = return_spefifc_country(df_WTDA, "Estonia")
df_fi_11 = return_spefifc_country(df_WTDA, "Finland")
df_sv_11 = return_spefifc_country(df_WTDA, "Sweden")

In [62]:
df_dk_11 = df_dk_11.set_index("TIME_PERIOD")
df_de_11 = df_de_11.set_index("TIME_PERIOD")
df_pl_11 = df_pl_11.set_index("TIME_PERIOD")
df_lt_11 = df_lt_11.set_index("TIME_PERIOD")
df_lv_11 = df_lv_11.set_index("TIME_PERIOD")
df_es_11 = df_es_11.set_index("TIME_PERIOD")
df_fi_11 = df_fi_11.set_index("TIME_PERIOD")
df_sv_11 = df_sv_11.set_index("TIME_PERIOD")

In [63]:
df_dk["WTDA"]= df_dk_11['WTDA']
df_de["WTDA"]= df_de_11['WTDA']
df_pl["WTDA"]= df_pl_11['WTDA']
df_lt["WTDA"]= df_lt_11['WTDA']
df_lv["WTDA"]= df_lv_11['WTDA']
df_es["WTDA"]= df_es_11['WTDA']
df_fi["WTDA"]= df_fi_11['WTDA']
df_sv["WTDA"]= df_sv_11['WTDA']

In [64]:
df_dk

,REF_AREA_LABEL,SOARS,TOGP,IPAB,PTIP,QOES,AOLT,FLTA,EBOF,FOWD,QOMS,CLER,WTDA
TIME_PERIOD,,,,,,,,,,,,,
2017,Denmark,5.69,5.00,6.37,5.11,4.99,6.04,5.74,6.08,4.51,5.56,5.97,NaN
2016,Denmark,5.61,5.00,6.49,5.12,5.14,6.00,5.73,6.13,4.55,5.55,6.07,6.10
2015,Denmark,5.69,4.77,6.43,4.87,4.89,5.97,5.71,6.20,4.40,5.35,6.06,6.10
2014,Denmark,5.51,4.49,6.19,4.70,4.81,5.81,5.71,6.23,4.55,5.21,5.96,6.10
2013,Denmark,5.15,4.34,6.08,4.52,4.86,5.90,5.72,6.15,4.82,5.15,5.84,6.01
2012,Denmark,5.27,4.67,6.40,4.69,4.95,6.22,5.84,6.40,4.64,5.08,5.95,6.16
2011,Denmark,5.70,5.70,6.69,5.40,5.03,6.46,5.99,6.73,4.17,5.22,5.94,6.05
2010,Denmark,5.66,5.63,6.53,5.42,5.32,6.36,6.00,6.50,4.50,5.41,5.72,5.80
2009,Denmark,5.85,5.80,NaN,6.11,5.69,6.43,6.14,6.58,4.41,5.64,5.98,5.90
2008,Denmark,6.03,5.82,NaN,6.21,5.81,6.51,6.20,6.47,4.32,5.63,6.22,6.05
2007,Denmark,6.17,5.93,NaN,5.99,5.79,6.35,6.02,6.46,4.53,5.63,6.32,6.08

In [65]:
df_DI = clean_world_bank_data(democracy_index, "DI")

In [66]:
df_dk_12 = return_spefifc_country(df_DI, "Denmark")
df_de_12 = return_spefifc_country(df_DI, "Germany")
df_pl_12 = return_spefifc_country(df_DI, "Poland")
df_lt_12 = return_spefifc_country(df_DI, "Lithuania")
df_lv_12 = return_spefifc_country(df_DI, "Latvia")
df_es_12 = return_spefifc_country(df_DI, "Estonia")
df_fi_12 = return_spefifc_country(df_DI, "Finland")
df_sv_12 = return_spefifc_country(df_DI, "Sweden")

In [67]:
df_dk = df_dk.reset_index()
df_de = df_de.reset_index()
df_pl = df_pl.reset_index()
df_lt = df_lt.reset_index()
df_lv = df_lv.reset_index()
df_es = df_es.reset_index()
df_fi = df_fi.reset_index()
df_sv = df_sv.reset_index()

In [68]:
df_dk = pd.merge(df_dk_12, df_dk, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_de = pd.merge(df_de_12, df_de, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_pl = pd.merge(df_pl_12, df_pl, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_lt = pd.merge(df_lt_12, df_lt, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_lv = pd.merge(df_lv_12, df_lv, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_es = pd.merge(df_es_12, df_es, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_fi = pd.merge(df_fi_12, df_fi, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_sv = pd.merge(df_sv_12, df_sv, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')

In [69]:
df_dk

,REF_AREA_LABEL,TIME_PERIOD,DI,SOARS,TOGP,IPAB,PTIP,QOES,AOLT,FLTA,EBOF,FOWD,QOMS,CLER,WTDA
0,Denmark,2006,9.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Denmark,2008,9.52,6.03,5.82,NaN,6.21,5.81,6.51,6.20,6.47,4.32,5.63,6.22,6.05
2,Denmark,2010,9.52,5.66,5.63,6.53,5.42,5.32,6.36,6.00,6.50,4.50,5.41,5.72,5.80
3,Denmark,2011,9.52,5.70,5.70,6.69,5.40,5.03,6.46,5.99,6.73,4.17,5.22,5.94,6.05
4,Denmark,2012,9.52,5.27,4.67,6.40,4.69,4.95,6.22,5.84,6.40,4.64,5.08,5.95,6.16
5,Denmark,2013,9.38,5.15,4.34,6.08,4.52,4.86,5.90,5.72,6.15,4.82,5.15,5.84,6.01
6,Denmark,2014,9.11,5.51,4.49,6.19,4.70,4.81,5.81,5.71,6.23,4.55,5.21,5.96,6.10
7,Denmark,2015,9.11,5.69,4.77,6.43,4.87,4.89,5.97,5.71,6.20,4.40,5.35,6.06,6.10
8,Denmark,2016,9.20,5.61,5.00,6.49,5.12,5.14,6.00,5.73,6.13,4.55,5.55,6.07,6.10
9,Denmark,2017,9.22,5.69,5.00,6.37,5.11,4.99,6.04,5.74,6.08,4.51,5.56,5.97,NaN
10,Denmark,2018,9.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Denmark,2019,9.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Denmark,2020,9.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Denmark,2021,9.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Denmark,2022,9.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Denmark,2023,9.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Denmark,2024,9.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df_lt

,REF_AREA_LABEL,TIME_PERIOD,DI,SOARS,TOGP,IPAB,PTIP,QOES,AOLT,FLTA,EBOF,FOWD,QOMS,CLER,WTDA
0,Lithuania,2006,7.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithuania,2008,7.36,5.00,4.11,NaN,2.70,3.66,5.04,5.03,4.32,5.91,4.35,4.55,4.03
2,Lithuania,2010,7.24,5.14,4.59,4.64,2.05,3.68,5.64,5.01,3.86,5.92,4.16,4.38,3.85
3,Lithuania,2011,7.24,5.00,4.59,4.48,2.04,3.80,5.71,5.02,3.83,5.97,4.20,4.27,3.76
4,Lithuania,2012,7.24,4.96,4.58,4.51,2.13,3.97,5.74,5.01,4.01,5.90,4.33,4.30,3.78
5,Lithuania,2013,7.54,4.86,4.65,4.58,2.40,3.95,5.68,5.21,4.26,5.92,4.37,4.25,3.91
6,Lithuania,2014,7.54,4.89,4.65,4.57,2.72,3.93,5.72,5.36,4.27,5.95,4.39,4.12,3.76
7,Lithuania,2015,7.54,5.03,4.53,4.74,3.00,4.04,5.76,5.36,4.35,5.85,4.36,4.32,3.76
8,Lithuania,2016,7.47,5.05,4.30,4.92,3.06,3.99,5.69,5.34,4.28,5.87,4.19,4.47,3.76
9,Lithuania,2017,7.41,4.87,4.05,4.94,2.81,3.59,5.62,5.31,4.19,5.90,4.03,4.43,NaN
10,Lithuania,2018,7.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Lithuania,2019,7.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Lithuania,2020,7.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Lithuania,2021,7.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Lithuania,2022,7.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Lithuania,2023,7.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Lithuania,2024,7.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
doing_business_report = pd.read_excel("Raw_data/Context/Historical-Data--DB04-DB20-.xlsx", sheet_name='DB21 Data', skiprows=3, header=1)

In [72]:
doing_business_report = doing_business_report.loc[doing_business_report['Economy'].isin(["Lithuania", "Latvia", "Estonia", "Denmark", "Sweden", "Finland", "Germany", "Poland"])]

In [73]:
doing_business_report["EDBS"] = doing_business_report["Ease of doing business score (DB17-21 methodology)"].fillna(
    doing_business_report['Ease of doing business score (DB15 methodology)']
).fillna(
    doing_business_report['Ease of doing business score (DB10-14 methodology)']
)

In [74]:
doing_business_report["DBP"] = (doing_business_report["Procedures - Men (number)"] + doing_business_report["Procedures - Women (number)"])/2

In [75]:
doing_business_report["DBD"] = (doing_business_report["Time - Men (days)"] + doing_business_report["Time - Women (days)"])/2

In [76]:
doing_business_report["DWCP"] = doing_business_report["Score-Dealing with construction permits (DB16-21 methodology)"].fillna(
    doing_business_report['Score-Dealing with construction permits (DB06-15 methodology)']
)

In [77]:
doing_business_report["PMSI"] = doing_business_report["Score-Protecting minority investors (DB15-21 methodology)"].fillna(
    doing_business_report['Score-Protecting minority investors (DB06-14 methodology)']
)

In [78]:
doing_business_report["PT"] = doing_business_report["Score-Paying taxes (DB17-21 methodology)"].fillna(
    doing_business_report['Score-Paying taxes (DB06-16 methodology)']
)

In [79]:
doing_business_report["EC"] = doing_business_report["Score-Enforcing contracts (DB16-21 methodology)"].fillna(
    doing_business_report['Score-Enforcing contracts (DB04-15 methodology)']
)

In [80]:
doing_business_report['SSB'] = doing_business_report["Score-Starting a business"]
doing_business_report['REF_AREA_LABEL'] = doing_business_report["Economy"]
doing_business_report['TIME_PERIOD'] = doing_business_report["DB year"]

In [81]:
doing_business_report = doing_business_report[["REF_AREA_LABEL", "TIME_PERIOD", "EDBS", "DBP", "DBD", "SSB", "DWCP", "PMSI",
                                               "PT", "EC"]]

In [82]:
doing_business_report

,REF_AREA_LABEL,TIME_PERIOD,EDBS,DBP,DBD,SSB,DWCP,PMSI,PT,EC
850,Denmark,2020.0,85.225742,5.0,6.0,92.076386,87.879698,72.000000,91.142197,73.921002
851,Denmark,2019.0,85.107470,5.0,6.0,91.889599,86.904664,72.000000,91.142197,73.921002
852,Denmark,2018.0,84.517791,5.0,6.0,91.866931,86.786174,72.000000,91.142197,68.365447
853,Denmark,2017.0,84.532354,5.0,6.0,91.841026,87.044147,72.000000,91.142197,68.365447
854,Denmark,2016.0,84.446565,5.0,6.0,91.819264,86.301441,72.000000,91.142197,68.365447
...,...,...,...,...,...,...,...,...,...,...
3125,Sweden,2008.0,NaN,3.0,16.0,91.142842,79.794474,56.666667,81.042448,66.054195
3126,Sweden,2007.0,NaN,3.0,16.0,90.973078,79.601798,56.666667,80.863303,66.054195
3127,Sweden,2006.0,NaN,3.0,16.0,90.891167,79.224010,43.333333,80.863303,66.054195
3128,Sweden,2005.0,NaN,3.0,16.0,90.774665,NaN,NaN,NaN,66.054195
3129,Sweden,2004.0,NaN,3.0,16.0,90.670480,NaN,NaN,NaN,66.054195

In [83]:
doing_business_report

,REF_AREA_LABEL,TIME_PERIOD,EDBS,DBP,DBD,SSB,DWCP,PMSI,PT,EC
850,Denmark,2020.0,85.225742,5.0,6.0,92.076386,87.879698,72.000000,91.142197,73.921002
851,Denmark,2019.0,85.107470,5.0,6.0,91.889599,86.904664,72.000000,91.142197,73.921002
852,Denmark,2018.0,84.517791,5.0,6.0,91.866931,86.786174,72.000000,91.142197,68.365447
853,Denmark,2017.0,84.532354,5.0,6.0,91.841026,87.044147,72.000000,91.142197,68.365447
854,Denmark,2016.0,84.446565,5.0,6.0,91.819264,86.301441,72.000000,91.142197,68.365447
...,...,...,...,...,...,...,...,...,...,...
3125,Sweden,2008.0,NaN,3.0,16.0,91.142842,79.794474,56.666667,81.042448,66.054195
3126,Sweden,2007.0,NaN,3.0,16.0,90.973078,79.601798,56.666667,80.863303,66.054195
3127,Sweden,2006.0,NaN,3.0,16.0,90.891167,79.224010,43.333333,80.863303,66.054195
3128,Sweden,2005.0,NaN,3.0,16.0,90.774665,NaN,NaN,NaN,66.054195
3129,Sweden,2004.0,NaN,3.0,16.0,90.670480,NaN,NaN,NaN,66.054195

In [84]:
dk = return_spefifc_country(doing_business_report, "Denmark")
de = return_spefifc_country(doing_business_report, "Germany")
pl = return_spefifc_country(doing_business_report, "Poland")
lt = return_spefifc_country(doing_business_report, "Lithuania")
lv = return_spefifc_country(doing_business_report, "Latvia")
es = return_spefifc_country(doing_business_report, "Estonia")
fi = return_spefifc_country(doing_business_report, "Finland")
sv = return_spefifc_country(doing_business_report, "Sweden")

In [85]:
lt

,REF_AREA_LABEL,TIME_PERIOD,EDBS,DBP,DBD,SSB,DWCP,PMSI,PT,EC
1872,Lithuania,2020.0,81.629700,4.0,5.5,93.273709,84.870297,70.000000,88.915657,78.802445
1873,Lithuania,2019.0,80.967168,4.0,5.5,93.175686,84.854331,68.000000,88.744373,78.802445
1874,Lithuania,2018.0,80.641847,4.0,5.5,93.053500,84.759393,66.000000,87.887522,78.802445
1875,Lithuania,2017.0,79.221080,4.0,5.5,92.984744,79.323842,64.000000,85.497006,78.802445
1876,Lithuania,2016.0,78.996605,4.0,5.5,92.931332,79.315019,64.000000,85.480409,78.802445
1877,Lithuania,2015.0,75.648605,5.0,5.5,92.436369,79.333191,60.000000,81.549466,78.802445
1878,Lithuania,2014.0,75.409557,6.0,8.5,90.098078,79.489447,60.000000,81.075004,72.899667
1879,Lithuania,2013.0,74.331592,7.0,19.5,84.317188,79.437628,56.666667,81.028515,72.899667
1880,Lithuania,2012.0,74.330059,6.0,22.0,84.670001,77.991192,56.666667,81.101556,74.812235
1881,Lithuania,2011.0,73.230806,6.0,22.0,84.636537,75.872411,50.000000,80.127684,74.812235
1882,Lithuania,2010.0,73.141176,7.0,26.0,82.520151,75.934847,50.000000,80.789148,74.812235
1883,Lithuania,2009.0,NaN,7.0,26.0,82.186109,75.888508,50.000000,79.791757,77.271252
1884,Lithuania,2008.0,NaN,7.0,26.0,81.503460,75.571061,50.000000,79.492010,77.271252
1885,Lithuania,2007.0,NaN,7.0,26.0,81.367724,75.539488,50.000000,79.207745,77.271252
1886,Lithuania,2006.0,NaN,8.0,26.0,79.298404,75.435261,50.000000,77.354840,77.271252
1887,Lithuania,2005.0,NaN,8.0,26.0,78.913567,NaN,NaN,NaN,77.271252
1888,Lithuania,2004.0,NaN,8.0,26.0,78.551096,NaN,NaN,NaN,77.271252

In [86]:
df_dk = pd.merge(df_dk, dk, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_de = pd.merge(df_de, de, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_pl = pd.merge(df_pl, pl, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_lt = pd.merge(df_lt, lt, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_lv = pd.merge(df_lv, lv, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_es = pd.merge(df_es, es, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_fi = pd.merge(df_fi, fi, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_sv = pd.merge(df_sv, sv, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')

In [87]:
global_economy = pd.read_csv("Raw_data/Context/context_globaleconomy.csv")

In [88]:
global_economy

,Country,Code,ContinentCode,Year,Rule of law index (-2.5 weak; 2.5 strong),Government effectiveness index (-2.5 weak; 2.5 strong),Control of corruption (-2.5 weak; 2.5 strong),Regulatory quality index (-2.5 weak; 2.5 strong),Voice and accountability index (-2.5 weak; 2.5 strong),Corruption Perceptions Index 100 = no corruption,Government accountability,Freedom of expression,Judicial constraints on executive,Internet users percent of population,Innovations index (0-100),Property rights index (0-100)
0,Austria,AUT,EU,2000,1.81,1.85,1.75,1.48,1.32,NaN,1.588,0.971,0.915,33.7,NaN,90
1,Austria,AUT,EU,2001,NaN,NaN,NaN,NaN,NaN,78.0,1.593,0.971,0.915,39.2,NaN,90
2,Austria,AUT,EU,2002,1.86,1.88,1.92,1.54,1.31,78.0,1.586,0.971,0.915,36.6,NaN,90
3,Austria,AUT,EU,2003,1.85,1.93,1.96,1.54,1.34,80.0,1.584,0.971,0.915,42.7,NaN,90
4,Austria,AUT,EU,2004,1.82,1.84,2.03,1.51,1.48,84.0,1.588,0.971,0.915,54.3,NaN,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,Sweden,SWE,EU,2021,1.70,1.61,2.10,1.75,1.49,85.0,1.896,0.965,0.966,94.7,63.10,87
698,Sweden,SWE,EU,2022,1.69,1.57,2.06,1.68,1.53,83.0,1.863,0.959,0.977,95.0,61.60,97
699,Sweden,SWE,EU,2023,1.60,1.60,2.03,1.72,1.57,82.0,1.822,0.953,0.977,95.7,64.22,97
700,Sweden,SWE,EU,2024,NaN,NaN,NaN,NaN,NaN,80.0,1.815,0.953,0.977,NaN,64.50,96
701,Sweden,SWE,EU,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.60,97

In [89]:
global_economy = global_economy.rename({'Rule of law index (-2.5 weak; 2.5 strong)':'ROL', 
                                        'Government effectiveness index (-2.5 weak; 2.5 strong)':'GE',
                                       'Control of corruption (-2.5 weak; 2.5 strong)':'COC',
                                       'Regulatory quality index (-2.5 weak; 2.5 strong)':'RQ',
                                       'Voice and accountability index (-2.5 weak; 2.5 strong)':'VAA',
                                       'Corruption Perceptions Index 100 = no corruption':'CPI',
                                        'Freedom of expression':'FOP',
                                        'Internet users percent of population':'IUI',
                                        'Property rights index (0-100)':'PR',
                                        'Innovations index (0-100)':'CFI',
                                        'Judicial constraints on executive':'JI',
                                        'Country':'REF_AREA_LABEL',
                                        'Year':'TIME_PERIOD'
                                       }, axis=1)

In [90]:
global_economy = global_economy.drop(['Code', 'ContinentCode', 'Government accountability'], axis=1)

In [91]:
dk_ge = return_spefifc_country(global_economy, "Denmark")
de_ge = return_spefifc_country(global_economy, "Germany")
pl_ge = return_spefifc_country(global_economy, "Poland")
lt_ge = return_spefifc_country(global_economy, "Lithuania")
lv_ge = return_spefifc_country(global_economy, "Latvia")
es_ge = return_spefifc_country(global_economy, "Estonia")
fi_ge = return_spefifc_country(global_economy, "Finland")
sv_ge = return_spefifc_country(global_economy, "Sweden")

In [92]:
lt_ge

,REF_AREA_LABEL,TIME_PERIOD,ROL,GE,COC,RQ,VAA,CPI,FOP,JI,IUI,CFI,PR
416,Lithuania,2000,0.22,0.10,0.37,0.71,0.86,NaN,0.930,0.963,6.43,NaN,50
417,Lithuania,2001,NaN,NaN,NaN,NaN,NaN,48.0,0.922,0.963,7.18,NaN,50
418,Lithuania,2002,0.40,0.49,0.21,1.08,0.90,48.0,0.922,0.963,17.70,NaN,50
419,Lithuania,2003,0.49,0.73,0.35,1.04,0.92,47.0,0.922,0.954,25.90,NaN,50
420,Lithuania,2004,0.56,0.69,0.37,1.06,0.88,46.0,0.959,0.964,31.20,NaN,50
421,Lithuania,2005,0.58,0.76,0.31,0.94,0.90,48.0,0.959,0.964,36.20,NaN,50
422,Lithuania,2006,0.71,0.72,0.16,0.97,0.86,48.0,0.962,0.964,43.90,NaN,50
423,Lithuania,2007,0.69,0.66,0.10,1.01,0.89,48.0,0.962,0.964,49.90,NaN,50
424,Lithuania,2008,0.68,0.56,0.11,1.04,0.85,46.0,0.962,0.964,55.20,NaN,50
425,Lithuania,2009,0.72,0.69,0.23,0.95,0.90,49.0,0.967,0.964,59.80,NaN,50
426,Lithuania,2010,0.78,0.74,0.37,0.96,0.92,50.0,0.970,0.970,62.10,NaN,55
427,Lithuania,2011,0.77,0.70,0.32,0.93,0.86,48.0,0.966,0.970,63.60,38.50,60
428,Lithuania,2012,0.84,0.83,0.39,1.12,0.93,54.0,0.966,0.970,67.20,44.00,60
429,Lithuania,2013,0.83,0.83,0.42,1.15,0.94,57.0,0.957,0.974,68.50,41.40,60
430,Lithuania,2014,0.94,0.98,0.55,1.19,0.96,58.0,0.943,0.974,72.10,41.00,60
431,Lithuania,2015,0.98,1.15,0.58,1.26,0.97,61.0,0.953,0.974,71.40,42.30,60
432,Lithuania,2016,1.00,1.03,0.68,1.12,1.00,59.0,0.948,0.974,74.40,41.80,65
433,Lithuania,2017,0.96,0.93,0.52,1.15,0.99,59.0,0.893,0.972,77.60,41.20,73
434,Lithuania,2018,0.92,1.03,0.47,1.09,0.90,59.0,0.910,0.967,79.70,NaN,74
435,Lithuania,2019,0.99,1.01,0.67,1.15,0.99,60.0,0.910,0.967,81.60,41.50,74
436,Lithuania,2020,0.95,1.01,0.78,1.08,1.00,60.0,0.905,0.967,83.10,39.20,78
437,Lithuania,2021,1.07,1.02,0.82,1.27,1.03,61.0,0.912,0.969,86.90,39.90,79
438,Lithuania,2022,1.06,0.99,0.75,1.30,1.07,62.0,0.912,0.957,87.70,37.40,89
439,Lithuania,2023,1.27,1.05,0.78,1.34,1.07,61.0,0.885,0.947,88.50,41.95,88
440,Lithuania,2024,NaN,NaN,NaN,NaN,NaN,63.0,0.908,0.940,NaN,40.10,89
441,Lithuania,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.80,89

In [93]:
df_dk = pd.merge(dk_ge, df_dk, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_de = pd.merge(de_ge, df_de, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_pl = pd.merge(pl_ge, df_pl, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_lt = pd.merge(lt_ge, df_lt, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_lv = pd.merge(lv_ge, df_lv, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_es = pd.merge(es_ge, df_es, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_fi = pd.merge(fi_ge, df_fi, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')
df_sv = pd.merge(sv_ge, df_sv, on=['REF_AREA_LABEL', 'TIME_PERIOD'], how='left')

In [94]:
df_lt

,REF_AREA_LABEL,TIME_PERIOD,ROL,GE,COC,RQ,VAA,CPI,FOP,JI,...,CLER,WTDA,EDBS,DBP,DBD,SSB,DWCP,PMSI,PT,EC
0,Lithuania,2000,0.22,0.10,0.37,0.71,0.86,NaN,0.930,0.963,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithuania,2001,NaN,NaN,NaN,NaN,NaN,48.0,0.922,0.963,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Lithuania,2002,0.40,0.49,0.21,1.08,0.90,48.0,0.922,0.963,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Lithuania,2003,0.49,0.73,0.35,1.04,0.92,47.0,0.922,0.954,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Lithuania,2004,0.56,0.69,0.37,1.06,0.88,46.0,0.959,0.964,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Lithuania,2005,0.58,0.76,0.31,0.94,0.90,48.0,0.959,0.964,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Lithuania,2006,0.71,0.72,0.16,0.97,0.86,48.0,0.962,0.964,...,NaN,NaN,NaN,8.0,26.0,79.298404,75.435261,50.000000,77.354840,77.271252
7,Lithuania,2007,0.69,0.66,0.10,1.01,0.89,48.0,0.962,0.964,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Lithuania,2008,0.68,0.56,0.11,1.04,0.85,46.0,0.962,0.964,...,4.55,4.03,NaN,7.0,26.0,81.503460,75.571061,50.000000,79.492010,77.271252
9,Lithuania,2009,0.72,0.69,0.23,0.95,0.90,49.0,0.967,0.964,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Lithuania,2010,0.78,0.74,0.37,0.96,0.92,50.0,0.970,0.970,...,4.38,3.85,73.141176,7.0,26.0,82.520151,75.934847,50.000000,80.789148,74.812235
11,Lithuania,2011,0.77,0.70,0.32,0.93,0.86,48.0,0.966,0.970,...,4.27,3.76,73.230806,6.0,22.0,84.636537,75.872411,50.000000,80.127684,74.812235
12,Lithuania,2012,0.84,0.83,0.39,1.12,0.93,54.0,0.966,0.970,...,4.30,3.78,74.330059,6.0,22.0,84.670001,77.991192,56.666667,81.101556,74.812235
13,Lithuania,2013,0.83,0.83,0.42,1.15,0.94,57.0,0.957,0.974,...,4.25,3.91,74.331592,7.0,19.5,84.317188,79.437628,56.666667,81.028515,72.899667
14,Lithuania,2014,0.94,0.98,0.55,1.19,0.96,58.0,0.943,0.974,...,4.12,3.76,75.409557,6.0,8.5,90.098078,79.489447,60.000000,81.075004,72.899667
15,Lithuania,2015,0.98,1.15,0.58,1.26,0.97,61.0,0.953,0.974,...,4.32,3.76,75.648605,5.0,5.5,92.436369,79.333191,60.000000,81.549466,78.802445
16,Lithuania,2016,1.00,1.03,0.68,1.12,1.00,59.0,0.948,0.974,...,4.47,3.76,78.996605,4.0,5.5,92.931332,79.315019,64.000000,85.480409,78.802445
17,Lithuania,2017,0.96,0.93,0.52,1.15,0.99,59.0,0.893,0.972,...,4.43,NaN,79.221080,4.0,5.5,92.984744,79.323842,64.000000,85.497006,78.802445
18,Lithuania,2018,0.92,1.03,0.47,1.09,0.90,59.0,0.910,0.967,...,NaN,NaN,80.641847,4.0,5.5,93.053500,84.759393,66.000000,87.887522,78.802445
19,Lithuania,2019,0.99,1.01,0.67,1.15,0.99,60.0,0.910,0.967,...,NaN,NaN,80.967168,4.0,5.5,93.175686,84.854331,68.000000,88.744373,78.802445
20,Lithuania,2020,0.95,1.01,0.78,1.08,1.00,60.0,0.905,0.967,...,NaN,NaN,81.629700,4.0,5.5,93.273709,84.870297,70.000000,88.915657,78.802445
21,Lithuania,2021,1.07,1.02,0.82,1.27,1.03,61.0,0.912,0.969,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Lithuania,2022,1.06,0.99,0.75,1.30,1.07,62.0,0.912,0.957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Lithuania,2023,1.27,1.05,0.78,1.34,1.07,61.0,0.885,0.947,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Lithuania,2024,NaN,NaN,NaN,NaN,NaN,63.0,0.908,0.940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Lithuania,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
eurostat = pd.read_excel("Raw_data/Context/Early_leavers_from_education_and training_by labour.xlsx", sheet_name='Sheet 1', skiprows=9, header=1)

/Users/vladasverkelis/anaconda3/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [96]:
eurostat = eurostat.drop(["Unnamed: 2", "Unnamed: 4", "Unnamed: 6", "Unnamed: 8", "Unnamed: 10", "Unnamed: 12",
                         "Unnamed: 14", "Unnamed: 16", "Unnamed: 18", "Unnamed: 20"], axis=1)

In [97]:
eurostat = eurostat.set_index("TIME")

In [98]:
eurostat = eurostat.transpose()

In [99]:
denmark = []
germany = []
poland = []
lithuania = []
latvia = []
estonia = []
finland = []
sweden = []

In [100]:
for column in eurostat.columns:
    if column in ["Denmark", "Germany", "Poland", "Lithuania", "Latvia", "Estonia", "Finland", "Sweden"]:
            if column == "Denmark":
                for line in eurostat[column]:
                    denmark.append(line)
            elif column == "Germany":
                for line in eurostat[column]:
                    germany.append(line)
            elif column == "Poland":
                for line in eurostat[column]:
                    poland.append(line)
            elif column == "Lithuania":
                for line in eurostat[column]:
                    lithuania.append(line)
            elif column == "Latvia":
                for line in eurostat[column]:
                    latvia.append(line)
            elif column == "Estonia":
                for line in eurostat[column]:
                    estonia.append(line)
            elif column == "Finland":
                for line in eurostat[column]:
                    finland.append(line)
            elif column == "Sweden":
                for line in eurostat[column]:
                    sweden.append(line)

In [101]:
TIME_PERIOD = [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

In [102]:
ELFE = pd.DataFrame({'TIME_PERIOD': TIME_PERIOD,
                    'Denmark': denmark,
                    'Germany': germany,
                    'Poland': poland,
                    'Lithuania': lithuania,
                    'Latvia': latvia,
                    'Estonia': estonia,
                    'Finland': finland,
                    'Sweden': sweden})

In [103]:
ELFE = ELFE.set_index("TIME_PERIOD")

In [104]:
df_dk = pd.merge(df_dk, ELFE["Denmark"], on='TIME_PERIOD', how='left')
df_de = pd.merge(df_de, ELFE["Germany"], on='TIME_PERIOD', how='left')
df_pl = pd.merge(df_pl, ELFE["Poland"], on='TIME_PERIOD', how='left')
df_lt = pd.merge(df_lt, ELFE["Lithuania"], on='TIME_PERIOD', how='left')
df_lv = pd.merge(df_lv, ELFE["Latvia"], on='TIME_PERIOD', how='left')
df_es = pd.merge(df_es, ELFE["Estonia"], on='TIME_PERIOD', how='left')
df_fi = pd.merge(df_fi, ELFE["Finland"], on='TIME_PERIOD', how='left')
df_sv = pd.merge(df_sv, ELFE["Sweden"], on='TIME_PERIOD', how='left')

In [105]:
df_dk = df_dk.rename({"Denmark":"ELFE"}, axis=1)
df_de = df_de.rename({"Germany":"ELFE"}, axis=1)
df_pl = df_pl.rename({"Poland":"ELFE"}, axis=1)
df_lt = df_lt.rename({"Lithuania":"ELFE"}, axis=1)
df_lv = df_lv.rename({"Latvia":"ELFE"}, axis=1)
df_es = df_es.rename({"Estonia":"ELFE"}, axis=1)
df_fi = df_fi.rename({"Finland":"ELFE"}, axis=1)
df_sv = df_sv.rename({"Sweden":"ELFE"}, axis=1)

In [106]:
df_dk = df_dk.drop(["REF_AREA_LABEL"], axis=1)
df_de = df_de.drop(["REF_AREA_LABEL"], axis=1)
df_pl = df_pl.drop(["REF_AREA_LABEL"], axis=1)
df_lt = df_lt.drop(["REF_AREA_LABEL"], axis=1)
df_lv = df_lv.drop(["REF_AREA_LABEL"], axis=1)
df_es = df_es.drop(["REF_AREA_LABEL"], axis=1)
df_fi = df_fi.drop(["REF_AREA_LABEL"], axis=1)
df_sv = df_sv.drop(["REF_AREA_LABEL"], axis=1)

In [107]:
df_dk.to_csv('Data/Context/Denmark.csv')
df_de.to_csv('Data/Context/Germany.csv')
df_pl.to_csv('Data/Context/Poland.csv')
df_lt.to_csv('Data/Context/Lithuania.csv')
df_lv.to_csv('Data/Context/Latvia.csv')
df_es.to_csv('Data/Context/Estonia.csv')
df_fi.to_csv('Data/Context/Finland.csv')
df_sv.to_csv('Data/Context/Sweden.csv')